<div class="Table">
  <mat-form-field appearance="fill" class="Input">
    <mat-label>Search</mat-label>
    <input (ngModelChange)="filtered($event)" [(ngModel)]="filter" matInput>
  </mat-form-field>
  <table [dataSource]="competitions" class="mat-elevation-z8" mat-table>

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> No.</th>
      <td *matCellDef="let element" [routerLink]="['competition', element.id]" mat-cell> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let element" [routerLink]="['competition', element.id]" mat-cell>
        <div class="Item">
          <emblem-ui *ngIf="element.emblemUrl !== null" [url]="element.emblemUrl"></emblem-ui>
          <a>{{element.name }}</a>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="area">
      <th *matHeaderCellDef mat-header-cell> Area</th>
      <td *matCellDef="let element" [routerLink]="['competition', element.id]" mat-cell> {{ element.area.name }} </td>
    </ng-container>

    <ng-container matColumnDef="season">
      <th *matHeaderCellDef mat-header-cell> Season</th>
      <td *matCellDef="let element" [routerLink]="['competition', element.id]" mat-cell>
        <a *ngIf="element.currentSeason">{{ element.currentSeason.startDate }} - {{ element.currentSeason.endDate }}</a>
        <a *ngIf="!element.currentSeason">not yet info</a>
      </td>
    </ng-container>


    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

  </table>
</div>
