<div class="Table">
  <mat-form-field appearance="fill" class="Input">
    <mat-label>Search</mat-label>
    <input (ngModelChange)="filtered($event)" [(ngModel)]="filter" matInput type="text">
  </mat-form-field>
  <table [dataSource]="teams" class="mat-elevation-z8" mat-table>

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> No.</th>
      <td *matCellDef="let element" [routerLink]="['team', element.id]" mat-cell> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let element" [routerLink]="['team', element.id]" mat-cell>
        <div class="Item">
          <emblem-ui *ngIf="element.crestUrl !== null" [url]="element.crestUrl"></emblem-ui>
          <a>{{element.name }}</a>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="clubColors">
      <th *matHeaderCellDef mat-header-cell> Club Colors</th>
      <td *matCellDef="let element" [routerLink]="['team', element.id]" mat-cell>
        <a *ngIf="element.clubColors">{{ element.clubColors }}</a>
        <a *ngIf="!element.clubColors">not yet info</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="area">
      <th *matHeaderCellDef mat-header-cell> Area</th>
      <td *matCellDef="let element" [routerLink]="['team', element.id]" mat-cell> {{ element.area.name }} </td>
    </ng-container>

    <ng-container matColumnDef="venue">
      <th *matHeaderCellDef mat-header-cell> Venue</th>
      <td *matCellDef="let element" [routerLink]="['team', element.id]" mat-cell>
        <a *ngIf="element.venue">{{ element.venue }}</a>
        <a *ngIf="!element.venue">not yet info</a>
      </td>
    </ng-container>


    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

  </table>
</div>
