@import "styles/reset";
@import "styles/adaptive";

.Spin {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
