<mat-tab-group>
  <mat-tab *ngIf="store.competition as competition" label="{{ competition.name || 'Competition' }}">

    <div class="MainInfo">

      <mat-card class="Card">
        <mat-card-header>
          <img [src]="competition.emblemUrl ? competition.emblemUrl : noPhoto" alt="" class="CardAvatar"
               mat-card-avatar>
          <mat-card-title>{{competition.name}}</mat-card-title>
          <mat-card-subtitle>{{competition.code}}</mat-card-subtitle>
        </mat-card-header>
        <img [src]="competition.emblemUrl ? competition.emblemUrl : noPhoto" alt="Emblem of competition" class="CardImage"
             mat-card-image>
        <mat-card-content>
          <p><i>Main info:</i></p>
          <p *ngIf="competition?.area?.name as info">
            <span>Area</span>
            <a>{{info}}</a>
          </p>
          <p *ngIf="competition?.currentSeason?.startDate as info">
            <span>Start Season</span>
            <a>{{info}}</a>
          </p>
          <p *ngIf="competition?.currentSeason?.endDate as info">
            <span>End Season</span>
            <a>{{info}}</a>
          </p>
          <p *ngIf="competition?.currentSeason?.winner as info">
            <span>Winner</span>
            <a>{{info}}</a>
          </p>
          <p *ngIf="competition.plan as info">
            <span>Plan</span>
            <a>{{info}}</a>
          </p>
        </mat-card-content>
      </mat-card>

      <matches-data *ngIf="competition" [id]="competition.id" [matches]="store.matches?.result || []"
                    type="competition"></matches-data>

    </div>

  </mat-tab>
</mat-tab-group>
