<div class="Table Items">
  <div class="Search">
    <mat-form-field appearance="fill" class="Input">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input (dateChange)="filteredDateFrom($event)" class="startDate" matStartDate placeholder="Start date">
        <input (dateChange)="filteredDateTo($event)" class="endDate" matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-icon (click)="clearFilter()">close</mat-icon>
  </div>
  <table *ngIf="matches?.length" [dataSource]="matches" class="mat-elevation-z8" mat-table>

    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell> Status</th>
      <td *matCellDef="let element" mat-cell> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="stage">
      <th *matHeaderCellDef mat-header-cell> Winner</th>
      <td *matCellDef="let element" [routerLink]="type === 'competition' && status(element).id !== null ? ['../../team', status(element).id] : []"
          [style]="{'cursor': type === 'competition' && status(element).id !== null ? 'pointer' : 'default'}"
          mat-cell>
        {{ type === 'competition' ? status(element).name : status(element) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th *matHeaderCellDef mat-header-cell> Date</th>
      <td *matCellDef="let element" mat-cell> {{ element.utcDate | date: 'dd.MM.yyyy mm:hh' }} </td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th *matHeaderCellDef mat-header-cell> Score (h:a)</th>
      <td *matCellDef="let element" mat-cell>{{ score(element.score).homeTeam }}
        - {{ score(element.score).awayTeam }}</td>
    </ng-container>

    <ng-container *ngIf="this.type === 'team'" matColumnDef="attachment">
      <th *matHeaderCellDef mat-header-cell> Attachment</th>
      <td *matCellDef="let element" mat-cell> {{ attachment(element) }} </td>
    </ng-container>

    <ng-container *ngIf="this.type === 'competition'" matColumnDef="attachment">
      <th *matHeaderCellDef mat-header-cell> Another team</th>
      <td *matCellDef="let element"
          [routerLink]="type === 'competition' && anotherTeam(element).id !== null ? ['../../team', anotherTeam(element).id] : []"
          [style]="{'cursor': type === 'competition' && anotherTeam(element).id !== null ? 'pointer' : 'default'}"
          mat-cell>
        {{ anotherTeam(element).name }}
      </td>
    </ng-container>


    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

  </table>

  <div *ngIf="!matches?.length" class="Empty">
    Nothing founded, please clear your option.
  </div>
</div>
